<!DOCTYPE html>
{%load static %}
{%load staticfiles%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/News.css'%}">
</head>
<body>
    <div class="container" align="center">
        <div class="jumbotron">
            <h1>Welcome to immortal Jobs!!!</h1>
            <p>Continuous job updated for every hour....</p>
            <a class="btn btn-primary btn-lg" href="/hydjobs"
               role="button">Hyderabad jobs</a>&nbsp&nbsp&nbsp
            <a class="btn btn-primary btn-lg" href="/blrjobs"
               role="button">Bangalore jobs</a>&nbsp&nbsp&nbsp
            <a class="btn btn-primary btn-lg" href="/chennaijobs"
               role="button">Chennai jobs</a>&nbsp&nbsp&nbsp
            <a class="btn btn-primary btn-lg" href="/punejobs"
               role="button">Pune jobs</a>
        </div>
    </div>

</body>
</html>