body{
background: url(https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
background-size: cover;
background-repeat: no-repeat
}

.container .jumbotron{
 margin-top: 150px;
 background:red;
 color:white;
}

.container .jumbotron a{
border:2px solid lightblue;
}
h1{
background:red;
color: white;
text-align:center;

}
<style>
thead {color:green;}
tbody {color:blue;}
table, th, td {
  border: 1px solid yellow;
}
</style>